* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'TX-02 Berkeley Mono', 'Berkeley Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #000000;
}

code {
  font-family: 'TX-02 Berkeley Mono', 'Berkeley Mono', monospace;
}






